/* ======================= font family ==================== */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Monoton&family=Poppins&display=swap");

/* font-family: 'Lobster', cursive;
font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif; */
/*========================== common style =====================  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

/*========================= colors ========================== */
:root {
  --black: #192a56;
  --light_green: #86efad56;
  --green: #05c46b;
  --light_red: #fca5a563;
  --white: #ffffff;
  --gray: #ced6e0;
  --red: #ff0000;
  --box_shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/*========================== header style =====================  */
header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background: #f3f7f8;
}

.logo a {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
  font-family: monoton, cursive;
}
.logo span {
  font-size: 50px;
  font-family: monoton, cursive;
  color: var(--green);
  font-weight: normal;
  margin-right: -10px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  padding: 10px 20px;
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}
.nav a::after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: var(--green);
  transition: 0.3s linear;
}
.nav a:hover::after {
  width: 30%;
}

.shoping {
  display: flex;
}
.shoping span {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.shoping .fa-heart {
  background: var(--light_green);
  padding: 8px;
  border-radius: 50%;
  color: var(--green);
}
.shoping .fa-shopping-cart {
  background: var(--light_red);
  padding: 8px;
  border-radius: 50%;
  color: var(--red);
}
.shoping small {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}
.fa-heart + small {
  background-color: var(--green);
  padding: 1px 2px 5px 3px;
}
.fa-shopping-cart + small {
  background-color: var(--red);
  padding: 1px 2px 5px 4px;
}

/*======================== banner style ======================= */
#banner {
  padding: 50px 0;
}
.banner {
  width: 92%;
  height: 500px;
  background: var(--light_green);
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.banner .bg-1 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: -50px;
}
.banner .bg-2 {
  width: 200px;
  position: absolute;
  left: 40%;
  top: -20px;
}
.banner .bg-3 {
  position: absolute;
  width: 400px;
  left: 73%;
  bottom: -60px;
}

.banner-text h3 {
  font-size: 35px;
  padding-left: 40px;
  font-family: lobster, cursive;
}
.banner-text p {
  padding-left: 45px;
  color: #696969;
  font-weight: bold;
  margin-top: -10px;
}
.search {
  position: absolute;
  left: 35%;
  top: 35%;
  background: whitesmoke;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.fa-search {
  padding: 0 10px;
}
.search input[type="text"] {
  width: 75%;
  padding: 5px;
  outline: none;
  border: none;
  background: whitesmoke;
}
.search-btn {
  width: 100px;
  height: 40px;
  border: none;
  background: #05c46b;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

/*======================== features style ======================= */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  padding: 50px 0;
}
.features .fbox {
  flex-basis: 25%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: var(--box_shadow);
}
.fbox1{
  background: #F0F9FF;
}
.fbox1 i{
  color: #1d4fd8e1;
}
.fbox1 button{
  background: #1d4fd8e1;
  color: whitesmoke;
  font-weight: bold;
}
.fbox2{
  background: #F0F9FF;
}
.fbox2 i{
  color: #7C3AED;
}
.fbox2 button{
  background: #7c3aed;
  color: whitesmoke;
  font-weight: bold;
}
.fbox3{
  background: #F0F9FF;
}
.fbox3 i{
  color: #22C55E;
}
.fbox3 button{
  background: #22C55E;
  color: whitesmoke;
  font-weight: bold;
}
.fbox i {
  font-size: 50px;
}
.fbox button{
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
}

/*======================== products style ======================= */
#products h2{
  text-align: center;
  color: var(--green);
  font-weight: bold;
  font-size: 35px;  
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 92%;
  height: 450px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: Poppins, sans-serif;
}
.product{
  flex-basis: 30%;
  border: 1px solid whitesmoke;
  box-shadow: var(--box_shadow);
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 40px;
}
.product img{
  width: 100%;
  height: 250px;
  padding: 20px 40px 40px 40px;
}
.product .fa-heart,.product .fa-thumbs-up{
  position: absolute;
  font-size: 25px;
  color: #05C46B;
  opacity: 0;
  cursor: pointer;
}
.product .fa-heart{
  top: 10;
  right: -30px;
  transition: 0.3s linear;
}
.product .fa-thumbs-up{
  top: 65px;
  right: -30px;
  transition: 0.4s linear;
}
.product:hover .fa-heart{
  right: 25px;
  opacity: 1;
}
.product:hover .fa-thumbs-up{
  right: 25px;
  opacity: 1;
}

.product h3{
  color: var(--black);
}
.product h4{
  color: #77797e80;
  font-size: 14px;
  font-weight: bold;
}
.product p{
font-weight: bold;
color: rgb(0, 0, 0);
padding-bottom: 10px;
}

.product button{
  margin: 0 auto;
  display: block;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #9ff1bd;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}
.fa-shopping-bag{
  padding-right: 5px;
}
.product:hover button{
  background: #05C46B;
  color: whitesmoke;
}